body {
  width: 300px;
  max-width: 400px;
  font-family: Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
}

.copy-history-header {
  display: flex;
}

#copy-history-display {
  min-height: 300px;
  overflow: scroll;
}

.copy-icon {
  cursor: pointer;
  flex: 0 0 10%;
}

.copy-icon:hover {
  opacity: 0.5;
}

.copy-text-node {
  position: relative;
  flex: 1 0 80%;
  max-width: 80%;
}

.copy-text {
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.copy-tooltip {
  position: absolute;
  display: none;
  background-color: rgb(38, 163, 136);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 10000;
  max-height: 100px;
  max-width: 100%;
  overflow: scroll;
  left: 20px;
  right: 0px;
}

.copy-tooltip-blv {
  bottom: 100%;
}

.copy-text-node:hover .copy-tooltip {
  display: inline-block;
}

.copy-delete-button {
  cursor: pointer;
  color: red;
  font-weight: bold;
  flex: 0 0 10%;
}

.copy-delete-button:hover {
  opacity: 0.5;
}

.copy-item {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 10px;
}

#copy-history-display > div:nth-child(odd) {
  background-color: #e0dada;
}

.action-btn {
  cursor: pointer;
}

.action-btn-darkmode {
  cursor: pointer;
}

.darkmode {
  background-color: black;
  color: white;
  fill: white;
}

.darkmode #copy-history-display > div:nth-child(odd) {
  background-color: rgb(48, 48, 48);
}